
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.m2e.core.prefs
target/classes/inaugural/soliloquy/common/Collection.class
target/classes/inaugural/soliloquy/common/CollectionFactory.class
target/classes/inaugural/soliloquy/common/CommonModule.class
target/classes/inaugural/soliloquy/common/Coordinate.class
target/classes/inaugural/soliloquy/common/CoordinateFactory.class
target/classes/inaugural/soliloquy/common/EntityUuid.class
target/classes/inaugural/soliloquy/common/EntityUuidFactory.class
target/classes/inaugural/soliloquy/common/GenericParamsSet$ProcessReadValue.class
target/classes/inaugural/soliloquy/common/GenericParamsSet.class
target/classes/inaugural/soliloquy/common/GenericParamsSetFactory.class
target/classes/inaugural/soliloquy/common/HasGenericParams.class
target/classes/inaugural/soliloquy/common/HasOneGenericParam.class
target/classes/inaugural/soliloquy/common/HasTwoGenericParams.class
target/classes/inaugural/soliloquy/common/Map$MapIterator.class
target/classes/inaugural/soliloquy/common/Map.class
target/classes/inaugural/soliloquy/common/MapFactory.class
target/classes/inaugural/soliloquy/common/Pair.class
target/classes/inaugural/soliloquy/common/PairFactory.class
target/classes/inaugural/soliloquy/common/PersistentValuesHandler$PersistentValueToRead.class
target/classes/inaugural/soliloquy/common/PersistentValuesHandler$PersistentValueToWrite.class
target/classes/inaugural/soliloquy/common/PersistentValuesHandler.class
target/classes/inaugural/soliloquy/common/persistentvaluetypehandlers/PersistentBooleanHandler.class
target/classes/inaugural/soliloquy/common/persistentvaluetypehandlers/PersistentIntegerHandler.class
target/classes/inaugural/soliloquy/common/persistentvaluetypehandlers/PersistentIntegersHandler.class
target/classes/inaugural/soliloquy/common/persistentvaluetypehandlers/PersistentStringHandler.class
target/classes/inaugural/soliloquy/common/persistentvaluetypehandlers/PersistentStringsHandler.class
target/classes/inaugural/soliloquy/common/persistentvaluetypehandlers/PersistentTypeHandler.class
target/classes/inaugural/soliloquy/common/PersistentVariable$PersistentValueToWrite.class
target/classes/inaugural/soliloquy/common/PersistentVariable.class
target/classes/inaugural/soliloquy/common/PersistentVariableCache$PersistentValueToWrite.class
target/classes/inaugural/soliloquy/common/PersistentVariableCache$ProcessReadValueAction.class
target/classes/inaugural/soliloquy/common/PersistentVariableCache.class
target/classes/inaugural/soliloquy/common/PersistentVariableFactory.class
target/classes/inaugural/soliloquy/common/Setting.class
target/classes/inaugural/soliloquy/common/SettingFactory.class
target/classes/inaugural/soliloquy/common/SettingsRepo$InsertSettingAction.class
target/classes/inaugural/soliloquy/common/SettingsRepo$SettingsRepoItem.class
target/classes/inaugural/soliloquy/common/SettingsRepo$SettingToProcess.class
target/classes/inaugural/soliloquy/common/SettingsRepo.class
target/classes/inaugural/soliloquy/common/test/integrationtests/PersistentValuesIntegrationTests$PersistentValueToWrite.class
target/classes/inaugural/soliloquy/common/test/integrationtests/PersistentValuesIntegrationTests$ReadValuesAction.class
target/classes/inaugural/soliloquy/common/test/integrationtests/PersistentValuesIntegrationTests.class
target/classes/inaugural/soliloquy/common/test/integrationtests/PersistentVariableCacheIntegrationTests.class
target/classes/inaugural/soliloquy/common/test/integrationtests/SettingsRepoIntegrationTests.class
target/classes/inaugural/soliloquy/common/test/java/CollectionFactoryTests.class
target/classes/inaugural/soliloquy/common/test/java/CollectionTests.class
target/classes/inaugural/soliloquy/common/test/java/CoordinateFactoryTests.class
target/classes/inaugural/soliloquy/common/test/java/CoordinateTests.class
target/classes/inaugural/soliloquy/common/test/java/EntityUuidFactoryTests.class
target/classes/inaugural/soliloquy/common/test/java/EntityUuidTests.class
target/classes/inaugural/soliloquy/common/test/java/GenericParamsSetFactoryTests$CollectionStub.class
target/classes/inaugural/soliloquy/common/test/java/GenericParamsSetFactoryTests$MapFactoryStub$MapStub.class
target/classes/inaugural/soliloquy/common/test/java/GenericParamsSetFactoryTests$MapFactoryStub.class
target/classes/inaugural/soliloquy/common/test/java/GenericParamsSetFactoryTests.class
target/classes/inaugural/soliloquy/common/test/java/GenericParamsSetTests$CollectionStub.class
target/classes/inaugural/soliloquy/common/test/java/GenericParamsSetTests$MapFactoryStub$MapStub.class
target/classes/inaugural/soliloquy/common/test/java/GenericParamsSetTests$MapFactoryStub.class
target/classes/inaugural/soliloquy/common/test/java/GenericParamsSetTests.class
target/classes/inaugural/soliloquy/common/test/java/MapFactoryTests.class
target/classes/inaugural/soliloquy/common/test/java/MapTests$PairFactoryStub$PairStub.class
target/classes/inaugural/soliloquy/common/test/java/MapTests$PairFactoryStub.class
target/classes/inaugural/soliloquy/common/test/java/MapTests.class
target/classes/inaugural/soliloquy/common/test/java/PairFactoryTests.class
target/classes/inaugural/soliloquy/common/test/java/PairTests.class
target/classes/inaugural/soliloquy/common/test/java/PersistentValuesHandlerTests.class
target/classes/inaugural/soliloquy/common/test/java/persistentvaluetypehandlers/PersistentBooleanHandlerTests.class
target/classes/inaugural/soliloquy/common/test/java/persistentvaluetypehandlers/PersistentIntegerHandlerTests.class
target/classes/inaugural/soliloquy/common/test/java/persistentvaluetypehandlers/PersistentIntegersHandlerTests$CollectionFactoryStub$CollectionStub.class
target/classes/inaugural/soliloquy/common/test/java/persistentvaluetypehandlers/PersistentIntegersHandlerTests$CollectionFactoryStub.class
target/classes/inaugural/soliloquy/common/test/java/persistentvaluetypehandlers/PersistentIntegersHandlerTests.class
target/classes/inaugural/soliloquy/common/test/java/persistentvaluetypehandlers/PersistentStringHandlerTests.class
target/classes/inaugural/soliloquy/common/test/java/persistentvaluetypehandlers/PersistentStringsHandlerTests$CollectionFactoryStub$CollectionStub.class
target/classes/inaugural/soliloquy/common/test/java/persistentvaluetypehandlers/PersistentStringsHandlerTests$CollectionFactoryStub.class
target/classes/inaugural/soliloquy/common/test/java/persistentvaluetypehandlers/PersistentStringsHandlerTests.class
target/classes/inaugural/soliloquy/common/test/java/PersistentVariableCacheTests$CollectionFactoryStub$CollectionStub.class
target/classes/inaugural/soliloquy/common/test/java/PersistentVariableCacheTests$CollectionFactoryStub.class
target/classes/inaugural/soliloquy/common/test/java/PersistentVariableCacheTests$PairFactoryStub$PairStub.class
target/classes/inaugural/soliloquy/common/test/java/PersistentVariableCacheTests$PairFactoryStub.class
target/classes/inaugural/soliloquy/common/test/java/PersistentVariableCacheTests$PersistentValuesHandlerStub.class
target/classes/inaugural/soliloquy/common/test/java/PersistentVariableCacheTests$PersistentValueToWrite.class
target/classes/inaugural/soliloquy/common/test/java/PersistentVariableCacheTests$PersistentVariableFactoryStub$PersistentVariableStub.class
target/classes/inaugural/soliloquy/common/test/java/PersistentVariableCacheTests$PersistentVariableFactoryStub.class
target/classes/inaugural/soliloquy/common/test/java/PersistentVariableCacheTests.class
target/classes/inaugural/soliloquy/common/test/java/PersistentVariableFactoryTests.class
target/classes/inaugural/soliloquy/common/test/java/PersistentVariableTests.class
target/classes/inaugural/soliloquy/common/test/java/SettingFactoryTests.class
target/classes/inaugural/soliloquy/common/test/java/SettingsRepoTests$CollectionFactoryStub$CollectionStub.class
target/classes/inaugural/soliloquy/common/test/java/SettingsRepoTests$CollectionFactoryStub.class
target/classes/inaugural/soliloquy/common/test/java/SettingsRepoTests$GameStub.class
target/classes/inaugural/soliloquy/common/test/java/SettingsRepoTests$LoggerStub.class
target/classes/inaugural/soliloquy/common/test/java/SettingsRepoTests$PairFactoryStub$PairStub.class
target/classes/inaugural/soliloquy/common/test/java/SettingsRepoTests$PairFactoryStub.class
target/classes/inaugural/soliloquy/common/test/java/SettingsRepoTests$PersistentValuesHandlerStub.class
target/classes/inaugural/soliloquy/common/test/java/SettingsRepoTests$SettingStub.class
target/classes/inaugural/soliloquy/common/test/java/SettingsRepoTests.class
target/classes/inaugural/soliloquy/common/test/java/SettingTests$GenericParamsSetStub.class
target/classes/inaugural/soliloquy/common/test/java/SettingTests.class
target/classes/inaugural/soliloquy/common/test/java/Stubs/GenericParamsSetPersistentValuesHandlerStub.class
target/classes/inaugural/soliloquy/common/test/java/Stubs/MapValidatorStub.class
target/classes/inaugural/soliloquy/common/test/java/Stubs/PersistentValuesHandlerTestsReadAction.class
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/classes/inaugural/soliloquy/common/PersistentVariable$1.class
target/classes/inaugural/soliloquy/common/PersistentVariableCache$1.class
target/classes/inaugural/soliloquy/common/SettingsRepo$1.class
target/classes/inaugural/soliloquy/common/test/integrationtests/PersistentValuesIntegrationTests$1.class
target/classes/inaugural/soliloquy/common/test/java/GenericParamsSetFactoryTests$1.class
target/classes/inaugural/soliloquy/common/test/java/GenericParamsSetTests$1.class
target/classes/inaugural/soliloquy/common/test/java/MapTests$1.class
target/classes/inaugural/soliloquy/common/test/java/persistentvaluetypehandlers/PersistentIntegersHandlerTests$1.class
target/classes/inaugural/soliloquy/common/test/java/persistentvaluetypehandlers/PersistentStringsHandlerTests$1.class
target/classes/inaugural/soliloquy/common/test/java/PersistentVariableCacheTests$1.class
target/classes/inaugural/soliloquy/common/test/java/SettingsRepoTests$1.class
target/classes/inaugural/soliloquy/common/test/java/SettingTests$1.class
target/inaugural.soliloquy.common-0.0.1-SNAPSHOT.jar
target/maven-archiver/pom.properties
target/mvn-repo/inaugural/soliloquy/common/inaugural.soliloquy.common/0.0.1-SNAPSHOT/inaugural.soliloquy.common-0.0.1-20190203.015258-1.jar
target/mvn-repo/inaugural/soliloquy/common/inaugural.soliloquy.common/0.0.1-SNAPSHOT/inaugural.soliloquy.common-0.0.1-20190203.015258-1.jar.md5
target/mvn-repo/inaugural/soliloquy/common/inaugural.soliloquy.common/0.0.1-SNAPSHOT/inaugural.soliloquy.common-0.0.1-20190203.015258-1.jar.sha1
target/mvn-repo/inaugural/soliloquy/common/inaugural.soliloquy.common/0.0.1-SNAPSHOT/inaugural.soliloquy.common-0.0.1-20190203.015258-1.pom
target/mvn-repo/inaugural/soliloquy/common/inaugural.soliloquy.common/0.0.1-SNAPSHOT/inaugural.soliloquy.common-0.0.1-20190203.015258-1.pom.md5
target/mvn-repo/inaugural/soliloquy/common/inaugural.soliloquy.common/0.0.1-SNAPSHOT/inaugural.soliloquy.common-0.0.1-20190203.015258-1.pom.sha1
target/mvn-repo/inaugural/soliloquy/common/inaugural.soliloquy.common/0.0.1-SNAPSHOT/maven-metadata.xml
target/mvn-repo/inaugural/soliloquy/common/inaugural.soliloquy.common/0.0.1-SNAPSHOT/maven-metadata.xml.md5
target/mvn-repo/inaugural/soliloquy/common/inaugural.soliloquy.common/0.0.1-SNAPSHOT/maven-metadata.xml.sha1
target/mvn-repo/inaugural/soliloquy/common/inaugural.soliloquy.common/maven-metadata.xml
target/mvn-repo/inaugural/soliloquy/common/inaugural.soliloquy.common/maven-metadata.xml.md5
target/mvn-repo/inaugural/soliloquy/common/inaugural.soliloquy.common/maven-metadata.xml.sha1
*.class
*.class
*.class
target/classes/inaugural/soliloquy/common/test/java/Stubs/CollectionFactoryStub.class
target/classes/inaugural/soliloquy/common/test/java/Stubs/CollectionStub.class
target/classes/inaugural/soliloquy/common/test/java/Stubs/GenericParamsSetStub.class
target/classes/inaugural/soliloquy/common/test/java/Stubs/MapFactoryStub.class
target/classes/inaugural/soliloquy/common/test/java/Stubs/MapStub.class
target/classes/inaugural/soliloquy/common/test/java/Stubs/PairFactoryStub.class
target/classes/inaugural/soliloquy/common/test/java/Stubs/PairStub.class
*.class
target/classes/inaugural/soliloquy/common/test/java/Stubs/CollectionFactoryStub.class
target/classes/inaugural/soliloquy/common/test/java/Stubs/CollectionStub.class
target/classes/inaugural/soliloquy/common/test/java/Stubs/GenericParamsSetStub.class
target/classes/inaugural/soliloquy/common/test/java/Stubs/MapFactoryStub.class
target/classes/inaugural/soliloquy/common/test/java/Stubs/MapStub.class
target/classes/inaugural/soliloquy/common/test/java/Stubs/PairFactoryStub.class
target/classes/inaugural/soliloquy/common/test/java/Stubs/PairStub.class
target/classes/inaugural/soliloquy/common/test/java/Stubs/CollectionFactoryStub.class
target/classes/inaugural/soliloquy/common/test/java/Stubs/CollectionStub.class
target/classes/inaugural/soliloquy/common/test/java/Stubs/GenericParamsSetStub.class
target/classes/inaugural/soliloquy/common/test/java/Stubs/MapFactoryStub.class
target/classes/inaugural/soliloquy/common/test/java/Stubs/MapStub.class
target/classes/inaugural/soliloquy/common/test/java/Stubs/PairFactoryStub.class
target/classes/inaugural/soliloquy/common/test/java/Stubs/PairStub.class
target/classes/inaugural/soliloquy/common/test/java/Stubs/CollectionFactoryStub.class
target/classes/inaugural/soliloquy/common/test/java/Stubs/CollectionStub.class
target/classes/inaugural/soliloquy/common/test/java/Stubs/GenericParamsSetStub.class
target/classes/inaugural/soliloquy/common/test/java/Stubs/MapFactoryStub.class
target/classes/inaugural/soliloquy/common/test/java/Stubs/MapStub.class
target/classes/inaugural/soliloquy/common/test/java/Stubs/PairFactoryStub.class
target/classes/inaugural/soliloquy/common/test/java/Stubs/PairStub.class
